
<div class="card-container">
<p>
  <%= @card.side_a_text %>
</p>
</div>
<div class="card-container">
<p>
  <%= @card.side_b_text %>
</p>
</div>
</br>

<%= link_to 'Edit Card', edit_deck_card_path %> |
<%= link_to 'Back the deck', deck_cards_path(@deck) %> |

